@model Course

<div class="col mb-4">
    <div class="card">
        <img src="@Model.ImageUrl" alt="" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">
                <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseId">@Model.Name</a>
            </h5>
            <p class="card-text">
                @Model.ShortDescription
            </p>
            <p class="card-text">
                @Model.Price.ToString("c");
            </p>
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-courseId="@Model.CourseId">Add to cart</a>
        </div>
    </div>
</div>