@model Course

<div class="container mt-3">
    <h3>@Model.Name</h3>
    <div class="card">
        <img src="@Model.ImageUrl" alt="@Model.Name" class="image-top"/>
        <div class="card-body">
            <h3 class="float-right">@Model.Price.ToString("c")</h3>
            <h3 class="card-title">
                <a href="#">@Model.Name</a>
            </h3><br />
            <h5 class="card-text">@Model.ShortDescription</h5>
            <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-courseId="@Model.CourseId">Add to cart</a>
        </div>
    </div>
</div>